a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#000000; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_e4bf9ac { position:absolute; left:-8%; top:-2%; width:108%; background:none; height:auto;  }
#text_555429bd { position:absolute; left:0%; top:77%; width:538px; height:130px; background:none;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:48pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  }
#text_f645165 { position:absolute; left:12%; top:1%; width:1124px; height:187px; background:none;  }
.textstyle4 { font-size:72pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  }
#text_4a8d779a { position:absolute; left:29%; top:90%; width:420px; height:25px; background:none;  }
.textstyle5 { font-size:24pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  }
